@model supra.Models.Fornecedor

@{
    ViewData["Title"] = "Deletar";
}

<h3 class="text-center text-primary">Deseja Deletar este Fornecedor?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.razao_social)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.razao_social)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.cnpj)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.cnpj)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.tipo)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.tipo)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.telefone)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.telefone)
        </dd>
    </dl>
    <hr />
    <form asp-action="Delete">
        <input type="hidden" asp-for="FornecedorId" />
        <input type="submit" value="Deletar" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-outline-info">Retornar</a>
    </form>
</div>