@model supra.Models.Funcionario

@{
    ViewData["Title"] = "Detalhes";
}

<h3 class="text-center text-primary">Detalhes</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Sobrenome)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Sobrenome)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Cargo)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Cargo)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Telefone)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Login)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Login)
        </dd>

    </dl>
</div>
<hr />
<div>
    <a asp-action="Index" class="btn btn-outline-info">Retornar</a>
</div>